ul.nav.nav-justified
	li.active
		a(href='/') Home
	li
		a(href='/amigos') Amigos
	li
		a(href='/usuarios') Usúarios
	li
		a(href='/email') Entrar em Contato
	li
		a(href='/logout') #{session.nome} [sair]
	li
		a(href='/') Contact