doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/booststrap-aux.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		div.container
			if isLogged
				div.masthead
					h3.text-muted Project Aular NODE.JS
					nav
						include partials/menu

			block content
			if isLogged
				include partials/footer

	script(src="/js/jquery-3.1.1.min%20.js")
	script(src="/js/bootstrap.min.js")
	block scripts
