extends ../layout

block content
	h1 Cadastro de Usuarios
	hr
	br
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
	form(method="POST", action="/usuarios/create", role="form")
		div(class='form-group')
			label Nome
			input(type="text", class="form-control", name="nome", placeholder="Nome", value="#{user.nome || ''}", autofocus ,required)
		div(class='form-group')
			label E-mail
			input(type="email", class="form-control", name="email", value="#{user.email || ''}", placeholder="E-mail" required)
		div(class='form-group')
			label Site
			input(type="text", class="form-control", name="site", value="#{user.site || 'http://'}", placeholder="Site")
		div(class='form-group')
			label Senha
			input(type="password", class="form-control", name="password", placeholder="Senha" required)
		div(class='form-group')
			label Confirma Senha
			input(type="password", class="form-control", name="password_confirmar", placeholder="Confirma Senha" required)
		button(type="submit", class="btn btn-success") Salvar
	br
	br
	a(href="/usuarios") Voltar
